.child{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: aqua;
    width: 150px;
    height: 80px;
    padding: 10px;
    color: aliceblue;
    font-size: 25px;
    font-style: oblique;
    font: 1em sans-serif;
    border: 5px inset darkcyan;

}

.parent{
    display: flex;
    flex-direction: row;
    height: 400px;
    border: 20px solid green;
    justify-content: center;
    align-items: center;
    
}